:root {
    --primary-color: #c83b0e;
    --secondary-color: #a89e9d;
    --tertiary-color: #fcf8f5;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: RedHatText;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  body {
    background-color: var(--tertiary-color);
  }
  
  .main {
    display: flex;
    flex-direction: row;
  }
  
  .header {
    padding-top: 50px;
    margin-bottom: 20px;
  }
  
  .products {
    width: 70%;
  }
  
  .products__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.33%;
    row-gap: 30px;
  }
  
  .products__list-item {
    width: 30%;
    list-style: none;
  }
  
  .products__list-item-tag {
    color: var(--secondary-color);
    margin-top: 40px;
    margin-bottom: 3px;
    display: block;
  }
  
  .products__list-item-description {
    font-weight: 600;
  }
  
  .products__list-item-amount {
    color: var(--primary-color);
    font-weight: 600;
  }
  
  .products__list-item-flt-btn {
    background-color: white;
    width: 70%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    column-gap: 10px;
    border: 1px solid var(--secondary-color);
    position: absolute;
    bottom: -20px;
    right: 50%;
    transform: translateX(50%);
  }

  .product__command {
    font-size: 14px;
    font-weight: 600;
  }
  
  .products__image-container {
    height: 250px;
    background-color: #eee;
    border-radius: 8px;
    position: relative;
  }
  
  .product__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  /* CART SECTION */

  .cart {
    background-color: white;
    border-radius: 8px;
    width: 30%;
    padding: 20px;
  }
  .cart__heading {
    margin-bottom: 16px;
    color: var(--primary-color);
  }
  .cart__list {
  }

  .cart__list-item {
    list-style: none;
    display: flex;
    padding: 0px 0px 20px 0px;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .cart__list-item-heading {
    font-weight: 600;
  }
  
  .cart__list-item-details {
    display: flex;
  }

  .cart__list-item-amount {
    color: var(--primary-color);
  }

  .cart__list-item-amount-details {
    font-size: 14px;
    margin: 0px 0px 0px 20px;
  }
  
  .cart__list-amount {
    font-size: 25px;
    font-weight: 1000;
    color: black;
  }
  .cart__total {
    margin: 20px 0;
    justify-content: space-between;
  }
  
  .cart__description-btn {
    display: flex;
    background-color: rgb(250, 247, 247);
    border-radius: 5px; 
    height: 35px;
    justify-content: center;
    margin-bottom: 20px;
    padding: 3px 20px 15px 0px;
  }

  .cart__description {
    margin-bottom: 10px;
    font-size: 15px;
    margin-left: 15px;
    text-align: center;
  }

  .side__button {
    border: 1px solid rgb(177, 171, 171);
    height: 0px;
    width: 40px; 
    margin-left: 200px;
    padding-bottom: 20px;
    font-size: 15px;
    border-radius: 100px;
  }

  .order__button {
    background-color: var(--primary-color);
    width: 100%;
    height: 50px;
    border: none;
    font-size: 17px;
    font-weight: 400px;
    border-radius: 50px;
    color: white;
    justify-content: right;
    padding: 10px 20px;
    
  }

  /* FONT FACES */
  @font-face {
    font-family: RedHatText;
    font-weight: 700;
    src: url("./fonts/RedHatText-Bold.ttf");
  }
  
  @font-face {
    font-family: RedHatText;
    font-weight: 400;
    src: url("./fonts/RedHatText-Regular.ttf");
  }
  
  @font-face {
    font-family: RedHatText;
    font-weight: 600;
    src: url("./fonts/RedHatText-SemiBold.ttf");
  }